# Entorno virtual
.venv/

# Archivos y carpetas temporales
__pycache__/
*.pyc
*.log
*.tmp
*.bak

# Archivos de entrada y salida
samples/
transcriptions/
*.json

# Modelos entrenados y resultados
*.bin
results_es/
results_fr/
results_en/
results/
xlmr-*-hate-speech/
logs/
checkpoints/

*.mp4
*.wav
*.zip
*.ckpt

*.ipynb_checkpoints
*.ipynb

logs/
*.csv

.DS_Store
Thumbs.db
